*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
nav ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(5, 0, 60);
}
.header{
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    color: white;
    background-color: rebeccapurple;
    width: 100%;
    margin-bottom: 1.5rem;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin-bottom: 1.3rem;
}
@media screen and (width>768px){
    .cards-container{
        grid-template-columns: repeat(4,1fr);
    }
}
.card{
    position: relative;
    width: 80px;
    height: 110px;
    perspective: 500px;
}
.back-card,.front-card{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    border-radius: 0.8rem;
    transition: 0.5s;
    pointer-events: none;
}
.back-card {
    display:flex;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 900;
    background-image: 
      /* linear-gradient(at bottom left , rgba(0, 0, 0, 0.1) 50%, transparent 40%),*/
    radial-gradient(circle at center, white 20%, rgb(0, 0, 20) 20% 23%, rgba(255, 255, 255, 0) 23%), linear-gradient(red 48%, rgb(0, 0, 20) 48% 50%, white 50%);
    rotate: y 0deg;
}
.back-card::after{
    content: "?";
    position: absolute;
    top: 40px;
    pointer-events: none;
}
@media screen and (width>768px){
    .card{
        width: 150px;
        height: 200px;
    }
    .back-card{
        font-size: 3.5rem;
    }
    .back-card::after{
        content: "?";
        position: absolute;
        top: 67px;
    }
}
.front-card{
    background-image: var(--pokemon-picture);
    rotate: y 180deg;
    background-color: rgb(201, 227, 236);
}

.flip-Card .front-card{
    rotate: y 360deg;
}

.flip-Card .back-card{
    rotate: y 180deg;
}
.button{
    color: white;
    font-size: 0.8rem;
    padding: 0.7rem;
    border-radius: 30px;
    border: none;
    background-color: rebeccapurple;
    box-shadow: 0px 3px rgb(68, 1, 131);
    ;
}